<p id="notice"><%= notice %></p>

<p>
  <strong>Designer:</strong>
  <%= @product.designer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @product.model %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Part:</strong>
  <%= @product.part %>
</p>

<p>
  <strong>Boostclock:</strong>
  <%= @product.boostClock %>
</p>

<p>
  <strong>Baseclock:</strong>
  <%= @product.baseClock %>
</p>

<p>
  <strong>Memclock:</strong>
  <%= @product.memClock %>
</p>

<p>
  <strong>Vram:</strong>
  <%= @product.vram %>
</p>

<p>
  <strong>Length:</strong>
  <%= @product.length %>
</p>

<p>
  <strong>Width:</strong>
  <%= @product.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @product.height %>
</p>

<p>
  <strong>Backplate:</strong>
  <%= @product.backplate %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @product.warranty %>
</p>

<p>
  <strong>Msrp:</strong>
  <%= @product.msrp %>
</p>

<p>
  <strong>Manurl:</strong>
  <%= @product.manurl %>
</p>

<p>
  <strong>Power:</strong>
  <%= @product.power %>
</p>

<p>
  <strong>Ports:</strong>
  <%= @product.ports %>
</p>

<p>
  <strong>Ports detailed:</strong>
  <%= @product.ports_detailed %>
</p>

<p>
  <strong>Cooling:</strong>
  <%= @product.cooling %>
</p>

<p>
  <strong>Imgurl:</strong>
  <%= @product.imgurl %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
